<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GetIPlayerUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="True" />
  </appSettings>
  <userSettings>
    <GetIPlayerUI.Properties.Settings>
      <setting name="ProxyServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="GetIPlayerPath" serializeAs="String">
        <value>C:\Program Files (x86)\get_iplayer</value>
      </setting>
    </GetIPlayerUI.Properties.Settings>
  </userSettings>
</configuration>
